<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @business_document_type.code %>
</p>


<%= link_to 'Edit', edit_business_document_type_path(@business_document_type) %> |
<%= link_to 'Back', business_document_types_path %>
