<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @legal_nature.name %>
</p>


<%= link_to t(".edit"), edit_legal_nature_path(@legal_nature) %> |
<%= link_to t(".back"), legal_natures_path %>
