<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @property_type.name %>
</p>


<%= link_to t(".edit"), edit_property_type_path(@property_type) %> |
<%= link_to t(".back"), property_types_path %>
